<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Brick Query UI</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/base16-light.css">
    <script src="../static/codemirror/lib/codemirror.js"></script>
    <script src="../static/codemirror/mode/sparql/sparql.js"></script>
    <script src="../static/codemirror/mode/turtle/turtle.js"></script>
    <script src="../static/codemirror/addon/edit/closebrackets.js"></script>
    <script src="../static/codemirror/addon/edit/closetag.js"></script>
    <script src="../static/codemirror/addon/edit/matchbrackets.js"></script>
</head>

<body>

<div class="container">

    <div class="header">

        <nav>
            <ul class="nav nav-link pull-right">
                <li role="presentation">
                    <a href="#">Help</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
    </div>

    <div class="jumbotron text-center">
        <h1>Brick Query UI</h1>
        <p>An easy user interface to inspect brick queries on ttl files</p>
    </div>


    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Query</h4>
            <p>Type your query.</p>

            <form method="POST" action='/query'>
                <textarea id="query_editor" name="query_editor_text" class="form-control" rows="10">
{{ query_editor_text }}</textarea>
                <br/>
                <button id="submit" class="btn btn-primary" type="submit">Go</button>
            </form>
        </div>

        <div class="col-lg-6">
            <h4>Result</h4>
            <p>The following is the result.</p>
            <textarea id="result" name="query_result_text" class="form-control" rows="10">{{ query_result_text }}</textarea>
        </div>
    </div>


</div>
<script type="text/javascript">
    var query_editor = CodeMirror.fromTextArea(
        document.getElementById('query_editor'), {
            mode: 'sparql',
            theme: 'base16-light',
            lineNumbers: true,
            autoCloseBrackets: true,
            matchBrackets: true
        })

    var result = CodeMirror.fromTextArea(
        document.getElementById('result'), {
            mode: 'turtle',
            theme: 'base16-light',
            lineNumbers: true
        })
</script>

</body>

</html>